.wrapper {
    display: flex;
    margin: 2% 0 2% 0;
    align-items: center;
}

.wrapper img {
    width: 20px;
    height: 19px;
    margin-right: 1.75%;
}



@media screen and (max-width: 320px) {
    .wrapper img {
        width: 20px;
        height: 26px;
        margin-right: 6%;
    }
}