.boooksContentWrapper {
    width: 100%;
    display: flex;
    align-items: center;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 62px;
}

.notFoundText {
    margin: auto;
    margin-top: 30%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;

    text-align: center;
    letter-spacing: 0.1px;


    color: #A7A7A7;

}


@media screen and (max-width: 768px) {
    .boooksContentWrapper {
        width: 100%;
        display: flex;
        align-items: center;

        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

    }

}

@media screen and (max-width: 320px) {
    .boooksContentWrapper {
        margin-top: 7%;
    }

    .notFoundText {
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        margin-top: 50%;
    }

}