.boooksContentWrapper {
    width: 100%;
    display: flex;
    align-items: center;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 62px;
}


@media screen and (max-width: 768px) {
    .boooksContentWrapper {
        width: 100%;
        display: flex;
        align-items: center;

        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

    }

}

@media screen and (max-width: 320px) {
    .boooksContentWrapper {
        margin-top: 7%;
    }

}